.leilighetsvelger-nav-container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    width: 100%;
    padding-top: 20px;
}

.leilighetsvelger-nav-back-button {
    justify-self: start;
    padding: 0;
    margin-left: 25px;
}

.leilighetsvelger-nav-markering-button {
    justify-self: end;
    padding-right: 0;
    margin-right: 25px;
}

.leilighetsvelger-nav-button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 40px;
    color: black;
    background-color: white;
    width: 170px;
    text-align: center;
    cursor: pointer;
}

.leilighetsvelger-nav-button:active {
    background-color: rgb(177, 177, 177);
}