.navbar-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    width: 100%;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
}

.navbar-logo-container {
    padding: 10px 20px;
}

.navbar-goto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.navbar-goto-text {
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 0;
}